<div class="form-container">
    <h1 class="mb-3">Nuevo usuario</h1>
    <form action="/register.php" method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="nombre" id="nombre" value="" placeholder="Nombre" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">
                <div class="invalid-feedback"></div>
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="apellido" id="apellido" value="" placeholder="Apellidos" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="form-group">
            <small id="usuarioHelp" class="form-text mb-1 mt-0">Puedes utilizar letras y números.</small>
            <input type="text" class="form-control" name="usuario" id="usuario" value="" placeholder="Nombre de usuario" aria-describedby="usuarioHelp" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">
            <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" value="" placeholder="Correo electrónico" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">
            <div class="invalid-feedback"></div>
        </div>
        <small id="passwordHelp" class="form-text mb-1 mt-0">Utiliza ocho caracteres como mínimo con una combinación de letras, números y símbolos.</small>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="password" class="form-control" name="password" id="password" value="" placeholder="Contraseña" aria-describedby="passwordHelp" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">
                <div class="invalid-feedback"></div>
            </div>
            <div class="form-group col-md-6">
                <input type="password" class="form-control" name="confirm_password" id="confirm-password" value="" placeholder="Confirmación" aria-describedby="passwordHelp" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="mostrar-contraseña" onclick="showPassword()">
            <label class="form-check-label fs-14" for="mostrar-contraseña">Mostrar contraseña</label>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <button class="btn btn-info" type="submit">Crear usuario</button>
            </div>
            <div class="col-auto">
                <a href="/login.php">¿Ya tienes una cuenta?</a>
            </div>
        </div>
    </form>
</div>