<div class="jumbotron text-center" style="background-color: transparent;">
    <h1 style="font-size: 2rem;">Bienvenido a mi página Web</h1>
    <p class="lead">App es una aplicación desarrollada con PHP, que tiene como objetivo la publicación de pensamientos, ideas y percepciones acerca de la situación actual del mundo en el que vivimos, de modo que podamos reflexionar sobre la compleja realidad en la que nos encontramos inmersos.</p>
    <a class="btn btn-lg btn-info" href="/login.php" role="button">Ingresar »</a>
</div>