<div class="fs-14">
    <div class="row align-items-center mb-3">
        <div class="col">
            <h1>Usuarios <a href="#" title="Agregar"><span class="material-icons">add_circle</span></a>
            </h1>
        </div>
        <div class="col-auto">
            <a href="/export" class="" title="Exportar"><i class="material-icons"
                    style="color: #ff0000;">picture_as_pdf</i></a>&nbsp;&nbsp;
            <a href="/print" class="" title="Imprimir"><i class="material-icons" style="color:#344D90;">print</i></a>
        </div>
    </div>
    <div class="table-responsive">
        <table id="dataTable" class="table table-striped table-sm table-bordered" style="width: 100%;">
            <thead style="background-color: #007bff;color: #fff;">
                <tr>
                    <th>Id</th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Sexo</th>
                    <th>Contraseña</th>
                    <th>Estado</th>
                    <th>Creación</th>
                    <th>Modificado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
    </div>
</div>